<div class="container news-container xs-no-padding" ng-controller="editProfileController">
	<div class="module-title">
		<div class="module-title-container">
			<span>一般会员注册</span>
		</div>
	</div>
	<div id="noticeArea">
		<% if flash[:notice].present? %>
		<div class="info-box alert-success">
			<a href="#" class="close" data-dismiss="alert">
		    	&times;
			</a>
			<span><%= flash[:notice]%></span>
		</div>
		<% end %>
		
		<!-- 有多条错误时显示第一条错误 -->
		<% if @user.errors.any? %>
			<div class="info-box alert-danger">
				<a href="#" class="close" data-dismiss="alert">
			    	&times;
				</a>
				<span><%= @user.errors.messages.first[1][0] %></span>
			</div>
		<% end %>
	</div>
	<!-- 主体部分 -->
	<div class="edit-main-part" id="edit-main-part">
		<%= form_for :user, url: '/users/normal_create', method: 'post' do |f| %>
		<!-- 左边部分 -->
		<div class="edit-left-part col-xs-12 col-sm-8 no-padding">
			<div class="edit-row">
		    	<span class="edit-label col-xs-2 xs-no-padding">姓名</span>
		    	<div class="col-xs-10" id="fullNameArea" data-toggle="tooltip" title="请输入姓名！" data-placement="top" data-animation="true" data-trigger="manual">
		    		<%= f.text_field :full_name,:class => "form-control","maxLength" => "30", :id => "fullNameInput"%>
		  		</div>
		  	</div>
		  	<div class="edit-row">
		    	<span class="edit-label col-xs-2 xs-no-padding">昵称</span>
		    	<div class="col-xs-10" id="nicknameArea" data-toggle="tooltip" title="请输入昵称！" data-placement="top" data-animation="true" data-trigger="manual">
		    		<%= f.text_field :nickname,:class => "form-control","maxLength" => "30", :id => "nicknameInput" %>
		  		</div>
		  	</div>
		 	<div class="edit-row">
				<span class="edit-label col-xs-2 xs-no-padding">性别</span>
				<div class="col-xs-10" id="sexArea" data-toggle="tooltip" title="请选择性别！" data-placement="top" data-animation="true" data-trigger="manual">
					<label class="radio-inline"><%= f.radio_button :sex, '1'%> 男 </label>
					<label class="radio-inline"><%= f.radio_button :sex, '0'%> 女 </label>
				</div>
		 	</div>
		 	<div class="edit-row">
		 		<span class="edit-label col-xs-2 xs-no-padding">手机号</span>
		 		<div class="col-xs-10" id="phoneArea" data-toggle="tooltip" title="请输入正确的手机号！" data-placement="top" data-animation="true" data-trigger="manual">	
		 			<%if @user.phone.present?%>
		  				<%= f.phone_field :phone, autofocus: true, :class => "form-control pull-left",:id => "phoneInput", :readonly => "true"%>
		  			<%else%>
		  				<%= f.phone_field :phone, autofocus: true, :class => "form-control pull-left",:id => "phoneInput"%>
		  			<%end%>
		  		</div>
		 	</div>
		 	<div class="edit-row">
		 		<span class="edit-label col-xs-2 xs-no-padding">验证码</span>
		 		<div class="col-xs-10" id="validCodeArea" data-toggle="tooltip" title="请输入验证码！" data-placement="top" data-animation="true" data-trigger="manual">	
					<%= f.text_field :valid_code, :class => "form-control",:id => "validCodeInput", autocomplete: "off", :maxlength => 6, "ng-model" => "validCode" %>
					<button type="button" id="countDownBtn" class="login-valid register-valid pull-left col-xs-2 col-sm-2" onclick="getValidCode();">获取</button>
				</div>
				<div class="clearfix"></div>
		 	</div>
		 	
	  	</div>
	  	<!-- 左边部分 end-->
	  	
	  	<!-- 右边部分 -->
	  	<div class="edit-right-part center col-xs-12 col-sm-4">
	  		<div class="edit-right-part-wrapper">
	  			<% if @user.small_profile_picture_url.blank? %>
	  				<img id="profile-head-img" class="edit-head-img" src="/assets/default_head.png" alt="" />
	  			<% else %>
	  				<img id="profile-head-img" class="edit-head-img" src="<%= @user.small_profile_picture_url %>" alt="" onerror='this.src="/assets/default_head.png"' />
	  			<% end %>
	  		</div>
	  		<!-- <div class="edit-right-part-wrapper">
	  			<div class="login-valid edit-upload">本地上传</div>
	  		</div> -->
	  		<div class="edit-right-part-wrapper">
	  			<div class="edit-upload">本地上传</div>
	  			<%= f.file_field :profile_picture, :id => "imgFile", :class => "edit-file-input", :onchange => "previewImage(this);", "accept" => "image/*", :style => "display:inline;" %>
	  			<p>仅支持jpg、png格式，文件需小于512KB</p>
	  		</div>
	  		
	  	</div>
	  	<!-- 右边部分 end-->
  	</div>
  	<!-- 主体部分 end -->
	<div class=" center col-xs-12">
    	<%= f.submit "提交", :class =>"edit-submit", :onclick => "return normalRegisterValidate();" %>
  	</div>
	<% end %>
</div>
