<div id="admin-container"class="admin-container" data-type="venues">
	<!-- 信息提示区域 -->
	<div id="noticeArea">
		<% if flash[:notice] %>
		<div class="info-box alert-danger">
			<a href="#" class="close" data-dismiss="alert">
		    	&times;
			</a>
			<span><%= flash[:notice] %></span>
		</div>
		<% end %>
		
		<!-- 有多条错误时显示第一条错误 -->
		<% if @venue.errors.any? %>
			<div class="info-box alert-danger">
				<a href="#" class="close" data-dismiss="alert">
			    	&times;
				</a>
				<span><%= @venue.errors.messages.first[1][0] %></span>
			</div>
		<% end %>
	</div>
	<!-- 信息提示区域 end-->
	<div class="widget">
		<div class="widget-header bordered-bottom bordered-blue">
			<span class="widget-caption"><%=((@title.blank?)?"":@title) %></span>
		</div>
		<div class="widget-body">
			<%= form_for @venue, url: {action: "update"} do |f| %>
				<div class="form-group">
					<label>场馆名称<span class="red-hint">(必填)</span></label>
					<%= f.text_field :name, :class => "form-control", "maxlength" => "255" %>
			  	</div>
			  	<div class="form-group">
			  		<label>请点击地图选择坐标</label>
			  		<div id="allmap"></div>
			  	</div>
			  	<div class="form-group">
					<div class="col-xs-5 pull-left no-padding">
						<label>经度<span class="red-hint">(必填，点击地图获取)</span></label>
						<%= f.text_field :lon, :class => "form-control", :readonly => "true", :id => "lon"%>
					</div>
			  		<div class="col-xs-5 pull-right no-padding">
			  			<label>纬度<span class="red-hint">(必填，点击地图获取)</span></label>
						<%= f.text_field :lat, :class => "form-control", :readonly => "true", :id => "lat"%>
			  		</div>
					<div class="clearfix"></div>
			  	</div>
			  	<div class="form-group">
					<label>场馆地址<span class="red-hint">(必填，可通过点击地图获取参考地址)</span></label>
					<%= f.text_field :address, :class => "form-control", "maxlength" => "255", :id => "address" %>
			  	</div>
			  	<div class="form-group">
					<label>联系电话<span class="red-hint">(必填)</span></label>
					<%= f.text_field :phone, :class => "form-control"%>
			  	</div>
			  	<div class="form-group">
					<label>图片</label>
				  	<% @venue.venue_images.each do |image| %>
						<%= f.fields_for :venue_images, image do |builder| %>
						<div class="fields image-fields" >
							<%= builder.label "图片文件"%>
							<%= builder.file_field :image, "accept" => "image/*", :onchange=>"previewImage(this)"  %>
							<img src="<%=image.image.url %>" alt="" style="margin: 10px 0;max-height: 140px;"/><br />
							<%= builder.hidden_field :image_string, :value => "" %>
							<%= link_to_remove_fields "删除", builder %>
						</div>
						<% end %>
				  	<% end %>
			  		<%= link_to_add_fields "添加图片", f, :venue_images %>
			  	</div>
			  	<div class="form-group">
			  		<%= f.submit "保存",:class => "btn btn-blue" %>
			  	</div>
			<% end %>
		</div>
	</div>
</div>
<style type="text/css">
	#allmap {width: 100%;height: 400px;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TjemrBSxT5GSxjEIsjaMzApt"></script>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");            
	
	var lon = $("#lon").val();
	var lat = $("#lat").val();
	if (lon.length > 0 && lat.length > 0) {
		map.centerAndZoom(new BMap.Point(lon, lat), 15);  // 初始化地图,设置中心点坐标和地图级别
		//创建图标
		var opt = new BMap.Point(lon, lat);
		var oIcon = new BMap.Icon("/assets/venue_map_icon.png", new BMap.Size(100,150));
		var oMarker = new BMap.Marker(opt,{icon:oIcon});  // 创建标注
		map.addOverlay(oMarker);              // 将标注添加到地图中
	} else {
		map.centerAndZoom("苏州",12);
	}
	
	map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
	map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
	
	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl(); 
	map.addControl(top_left_control); 
	map.addControl(top_left_navigation); 
	
	map.addEventListener("click",function(e){
		$("#lon").val(e.point.lng);
		$("#lat").val(e.point.lat);
		map.clearOverlays();
		//创建图标
		var pt = new BMap.Point(e.point.lng, e.point.lat);
		var myIcon = new BMap.Icon("/assets/venue_map_icon.png", new BMap.Size(100,150));
		var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
		map.addOverlay(marker2);              // 将标注添加到地图中
		
		var geoc = new BMap.Geocoder();
		geoc.getLocation(pt, function(rs){
			var addComp = rs.addressComponents;
			$("#address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
		});  
	});
</script>